<ng-template #greeting>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Yaykuykamullaychik!</h4>
		<button type="button" class="btn-close close pull-right" (click)="modalRef?.hide()">
			<span class="visually-hidden">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		Texto.
	</div>
</ng-template>

<div class="board-container">
	<div class="board" [ngStyle]="{'width.px': boardWidth}">		
		<div class="try-container" *ngFor="let try of tries" #tryContainer>
			<div class="letter-container" *ngFor="let letter of try.letters"
			    [class.match]="letter.state === LetterState.FULL_MATCH"
			    [class.partial]="letter.state === LetterState.PARTIAL_MATCH"
			    [class.wrong]="letter.state === LetterState.WRONG"
			    [class.has-text]="letter.text !== ''">
				{{letter.text}}
			</div>
		</div>
	</div>
</div>

<app-keyboard [curLetterStates] = "curLetterStates" (newItemEvent)="handleClickKey($event)"></app-keyboard>

<div class="info-msg"
    [class.show]="infoMsg !== ''"
    [class.fade-out]="fadeOutInfoMessage">
	{{infoMsg}}
</div>

<div class="share-dialog-container" [class.show]="showShareDialogContainer">
	<div class="share-dialog" [class.show]="showShareDialog">
		<button (click)="handleClickShare()">Share</button>
	</div>
</div>

<app-entry [won] = "won" [targetIndex] = "targetIndex"></app-entry>